<h1>WELCOME TO ROCK PAPER SCISSORS</h1>

<li>The move you made was: <%= @play_type %></li>
<li>The move your opponent made was: <%= @computer_play_type %></li>
<li>Game status: <%= @game_status %></li>
